<div class="ps-row ps-padding-64" id="about">
    <div class="ps-col m6 ps-padding-large ps-hide-small">
      <img
        src="/images/<%= about.aboutImage %>"
        class="ps-round ps-image ps-opacity-min"
        alt="Sabores que enamoran"
        width="600"
        height="750"
      />
    </div>

    <div class="ps-col m6 ps-padding-large">
      <h1 class="ps-center"><%= about.titulo %></h1>
      <br />
      <p class="ps-large">
        <%= about.descripcion1 %>
      </p>
      <p class="ps-large ps-text-grey ps-hide-medium">
        <%= about.descripcion2 %>
      </p>
    </div>
</div>